{% extends 'main_template.html' %}

{% block header %}
<h1>{% block title %}Cadastrar pessoa{% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="adicionar_pessoa">
    <p>
        Nome: <input type="text" name="nome">
    </p>
    <p>
        Email: <input type="text" name="email">
    </p>
    <p>
        Telefone: <input type="text" name="telefone">
    </p>
    <p>
        Data de Nasciemnto: <input type="date" name="data_nasc">
    </p><p>
        Tipo Sanguíneo: <input type="text" name="tipo_sang">
    </p>

    <button><div class="button_slide slide_left">Cadastrar</div></button>
</form>

{% endblock %}